@import '~src/styles/mixins';
@import '~src/styles/variables';

.addDishModal {
  display: flex;
  width: 960px;
  border-radius: 10px;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.12);
  background-color: $white;
  padding: 97px 164px 0;
  box-sizing: border-box;
  color: $black;
  .dishModalContent {
    @include flex(column, flex-start, flex-start);
    .dishName {
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: -1.07px;
      color: $black;
      margin-bottom: 10px;
    }
    .dishDescription {
      font-size: 20px;
      letter-spacing: -0.71px;
      color: $white;
      margin-bottom: 10px;
    }
    .nameInput {
      margin-bottom: 10px;
      input {
        width: 633px;
      }
      .rightPart {
        padding: 13px 20px 11px 0;
        span {
          opacity: 0.6;
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: -0.35px;
          color: $dark-grey;
        }
      }
    }
    .descriptionInput {
      margin-bottom: 20px;
      textarea {
        width: 633px;
        height: 118px;
      }
      .rightPart {
        padding: 74px 20px 20px 0;
        span {
          opacity: 0.6;
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: -0.35px;
          color: $dark-grey;
        }
      }
    }
    .ingredientsHeader {
      @include flex(row, space-between, center);
      margin-bottom: 20px;
      width: 100%;
      span {
        font-size: 20px;
        letter-spacing: -0.71px;
      }
      .buttonContent {
        @include flex(row, flex-start, center);
        padding-left: 10px;
        label {
          font-size: 17px;
          font-weight: bold;
          line-height: 1.41;
          letter-spacing: -0.43px;
          color: $orange;
          cursor: inherit;
        }
        .buttonIcon {
          width: 24px;
          height: 24px;
          margin: 4px 0;
        }
      }
    }
    .ingredientsList {
      @include flex(column, stretch, stretch);
      margin-bottom: 15px;
      max-height: 174px;
      overflow-y: auto;
      .ingredientsListRow {
        @include flex(row, stretch, center);
        margin-bottom: 10px;
        .preRowIcon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
        .ingredientNameInput {
          margin-right: 20px;
          input {
            width: 400px;
          }
          .ingredientNameInputRightPart {
            padding: 12px 20px 12px 0;
            .plusIngredientIcon {
              width: 24px;
              height: 24px;
            }
          }
        }
        .ingredientWeightInput {
          margin-right: 10px;
          input {
            width: 145px;
          }
        }
        .removeIngredientIcon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
